@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

.productRating {
  display: flex; /* Aligns children (stars) in a row */
  align-items: center; /* Centers stars vertically within the container */
  justify-content: flex-start; /* Aligns stars to the start of the container */
}
.productSales,
.productTime {
  font-size: 1.2rem; /* Keep smaller font size for secondary information */
  color: var(--color-green-primary);
}
.displayStack__1,
.displayStack__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.productPrice {
  font-size: 1.8rem; /* Slightly larger for visibility */
  color: var(--color-orange-primary);
}
.productCard__wishlist {
  right: 4rem; /* Adjust spacing */
  top: 1rem;
}
.productCard__fastSelling {
  left: 1rem;
  top: 1rem;
  color: var(--color-orange-primary); /* Use color instead of fill for icons */
}
.productCard__cart {
  right: 1rem;
  top: 1rem;
}